body {
    background-color: darkgray;
}

.navbar>.container {
    display: block;
}

.nav .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navItems {
    display: flex;
    flex-direction: row;
}

.navbar-expand .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
}

.navitems {
    display: flex;
}

.parent {
    margin: 20px 0 20px 20px;
    display: flex;
    flex-direction: row;
    background: linear-gradient(178deg, #cfcacac2, transparent);
    box-shadow: -20px -3px 78px 5px;
    padding-right: 8px;
}

.table {
    width: 370px;
    text-align: center;
    margin-right: 30px;
}

table {
    border: 1px solid black;
    background-color: #ececec;
}

table tbody {
    background-color: #a9a9a985;
}

th,
td {
    margin: 10px;
    padding: 5px;
    text-align: center;
}

.content {
    /* color: rgba(0, 0, 0, 0.753); */
    margin-top: 10px;
    padding-right: 10px;
}

.copy {
    color: rgb(34, 30, 30);
    text-decoration: underline;
    padding-left: 10px;
    padding: 10px;
}

.copy span {
    font-size: smaller;
}

.copy:hover,
span:hover {
    color: white;
    background-color: black;
}