/* body {
    background-color: #ececec;
} */

.navbar>.container {
    display: block;
}

.nav.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navitems {
    display: flex;
}

.parent {
    margin: 20px 0 20px 20px;
    display: flex;
    flex-direction: row;
    background: linear-gradient(178deg, #cfcacac2, transparent);
    box-shadow: -20px -3px 78px 5px;
    padding-right: 8px;
}

.table {
    width: 370px;
    text-align: center;
    margin-right: 30px;
}

table {
    border: 1px solid black;
    background-color: #ececec;
}

table tbody {
    background-color: #a9a9a985;
}

th,
td {
    margin: 10px;
    padding: 5px;
    text-align: center;
}

.ted {
    width: 291px;
    height: 333px;
}

.test {
    display: flex;
    flex-direction: column;
    width: min-content;
    text-align: center;
    border: 1px solid black;
    float: right;
    padding: 4px;
    background-color: #d2d2d2;
    margin-left: 3px;
}

.test h5 {
    font-size: small;
}

.tsat {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: min-content;
    float: right;
    margin-top: 66px;
    border: 1px solid black;
    padding: 3px;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-left: 5px;
}

.table>:not(:first-child) {
    border-top: none;
    /* bootstrap truce  */
}

.tsat h5 {
    font-size: small;
}

.tsat img {
    width: auto;
    height: 300px;
}

.last {
    border: 1px solid black;
    background-color: #a9a9a985;
    width: min-content;
    text-align: center;
    margin: 3px auto;
    padding: 10px;
}

.last h5 {
    margin: 0;
    padding: 0;
    font-size: small;
    padding-top: 5px;
}

.undertable {
    margin-top: 10px;
}

.undertable h3 {
    text-align: center;
}


/* 
.undertable {
    text-align: justify;
} */

.undertable p {
    font-size: smaller;
    padding-top: 10px;
    padding-left: 5px;
}

.copy {
    color: rgb(34, 30, 30);
    text-decoration: underline;
    padding-left: 10px;
    padding: 10px;
}

.copy span {
    font-size: smaller;
}

.copy:hover,
span:hover {
    color: white;
    background-color: black;
}